.overview-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.overview-dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50vh;
    height: 80vh;
}

.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.3;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 40px 60px;
}

.card ion-icon {
    font-size: 50px;
    color: rgba(100, 100, 100, 1);
}

.card svg {
    width: 150px;
}

.preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: rgb(15, 122, 15);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    gap: 20px;
}

.preview img {
    width: 60%;
    height: auto;
}

.data-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
}

.sensor-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 15px;
}

.sensor-data p{
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
}